*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: red;
    color: white;
    padding: 20px 10px;
}

nav{
    background: black;
    padding: 15px;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin-right: 15px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

section{
    margin: 20px 0;
    text-align: center;
}

h2{
    margin-bottom: 20px;
}

img{
    margin-bottom: 20px;
}

fieldset{
    padding: 20px 0;
}

.left{
    text-align: left;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}